body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #bebda4;
}
.container {
    text-align: center;
}
.progress-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-bottom: 30px;
}
.step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #ccc;
    border: 2px solid #ccc;
}
.step.active {
    background-color: #1c7900;
    border-color: #1c7900;
    color: #fff;
}
.line {
    flex-grow: 1;
    height: 2px;
    background-color: #ccc;
}
.line.active {
    background-color: #1c7900;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
#prevBtn {
    background-color: #595fff;
    color: #fff;
}
#nextBtn {
    background-color: #eb5252;
    color: #fff;
}